{"swagger":"2.0","info":{"version":"v2.0","title":"JW Platform Delivery API","description":"he Delivery API provides bundled responses optimized to quickly serve content to your site or application. This highly available and scalable API includes single-line player embeds, feeds, and access to specific media assets."},"host":"cdn.jwplayer.com","schemes":["http","https"],"basePath":"/v2","produces":["application/json; charset=utf-8","application/rss+xml; charset=utf-8"],"paths":{"/media/{media_id}":{"get":{"summary":"A json object or rss feed describing a media item including metadata, sources, and associated assets like tracks.","produces":["application/json; charset=utf-8","application/rss+xml; charset=utf-8"],"parameters":[{"$ref":"#/parameters/mediaIdParam"},{"$ref":"#/parameters/formatParam"},{"$ref":"#/parameters/sourcesParam"},{"$ref":"#/parameters/posterWidthParam"},{"$ref":"#/parameters/recommendationsPlaylistIdParam"},{"$ref":"#/parameters/tokenParam"}],"tags":["media"],"responses":{"200":{"description":"A json object or rss feed describing a media item including metadata, sources, and associated assets like tracks.","schema":{"type":"object"},"examples":{"playlist":[{"mediaid":"ghZEPsKo","description":"Jack (Henry Rollins) is in a rut. His existence has been whittled down to sleeping and watching TV, and he sees the human race as little more than meat with a pulse. When Jack suddenly finds his long-lost daughter taken by the city’s crime syndicate, he must combat his inner demons as he embarks on a bloody war path to seek revenge and save her.","pubdate":1449848295,"tags":"drama, thriller, trailer","image":"https://cdn.jwplayer.com/thumbs/ghZEPsKo-320.jpg","title":"He Never Died","feedid":"Xw0oaD4q","custom":{},"sources":[{"width":1280,"type":"application/vnd.apple.mpegurl","file":"https://cdn.jwplayer.com/manifests/ghZEPsKo.m3u8","height":720},{"width":320,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/ghZEPsKo-AgylS15n.mp4","height":180},{"width":480,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/ghZEPsKo-8LSW5F2t.mp4","height":270},{"width":720,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/ghZEPsKo-PA9rXzRh.mp4","height":406},{"width":1280,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/ghZEPsKo-p3ZNjGCa.mp4","height":720},{"type":"audio/mp4","file":"https://cdn.jwplayer.com/videos/ghZEPsKo-pSu3VlhO.m4a"}],"tracks":[{"kind":"thumbnail","file":"https://cdn.jwplayer.com/strips/ghZEPsKo-120.vtt"}],"link":"https://cdn.jwplayer.com/previews/ghZEPsKo","recommendations":"//cdn.jwplayer.com/feed.json?feed_id=Xw0oaD4q&related_media_id=ghZEPsKo","duration":134}]}},"403":{"$ref":"#/responses/403"},"404":{"$ref":"#/responses/404"}}}},"/playlists/{playlist_id}":{"get":{"summary":"A json object or rss feed describing a playlist item including metadata and constituent media items with their metadata, sources, and associated assets like tracks.","produces":["application/json; charset=utf-8","application/rss+xml; charset=utf-8"],"parameters":[{"$ref":"#/parameters/playlistIdParam"},{"$ref":"#/parameters/relatedMediaIdParam"},{"$ref":"#/parameters/searchParam"},{"$ref":"#/parameters/formatParam"},{"$ref":"#/parameters/sourcesParam"},{"$ref":"#/parameters/posterWidthParam"},{"$ref":"#/parameters/recommendationsPlaylistIdParam"},{"$ref":"#/parameters/pageLimitParam"},{"$ref":"#/parameters/pageOffsetParam"},{"$ref":"#/parameters/tokenParam"}],"tags":["playlists"],"responses":{"200":{"description":"A json object or rss feed describing a playlist item including metadata and constituent media items with their metadata, sources, and associated assets like tracks.","schema":{"type":"object"},"examples":{"title":"Recommended Videos","kind":"FEED","description":"Feed ID used in recommended feeds widget demo on JW Developer (prod).","playlist":[{"mediaid":"ghZEPsKo","description":"Jack (Henry Rollins) is in a rut. His existence has been whittled down to sleeping and watching TV, and he sees the human race as little more than meat with a pulse. When Jack suddenly finds his long-lost daughter taken by the city’s crime syndicate, he must combat his inner demons as he embarks on a bloody war path to seek revenge and save her.","pubdate":1449848295,"tags":"drama, thriller, trailer","image":"https://cdn.jwplayer.com/thumbs/ghZEPsKo-320.jpg","title":"He Never Died","feedid":"Xw0oaD4q","custom":{},"sources":[{"width":1280,"type":"application/vnd.apple.mpegurl","file":"https://cdn.jwplayer.com/manifests/ghZEPsKo.m3u8","height":720},{"width":320,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/ghZEPsKo-AgylS15n.mp4","height":180},{"width":480,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/ghZEPsKo-8LSW5F2t.mp4","height":270},{"width":720,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/ghZEPsKo-PA9rXzRh.mp4","height":406},{"width":1280,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/ghZEPsKo-p3ZNjGCa.mp4","height":720},{"type":"audio/mp4","file":"https://cdn.jwplayer.com/videos/ghZEPsKo-pSu3VlhO.m4a"}],"tracks":[{"kind":"thumbnail","file":"https://cdn.jwplayer.com/strips/ghZEPsKo-120.vtt"}],"link":"https://cdn.jwplayer.com/previews/ghZEPsKo","recommendations":"//cdn.jwplayer.com/feed.json?feed_id=Xw0oaD4q&related_media_id=ghZEPsKo","duration":134},{"mediaid":"mFJOL68I","description":"It’s the beginning of the summer. In a village in the north of Turkey, Lale and her four sisters come home from school, innocently playing with boys. The supposed debauchery of their games causes a scandal with unintended consequences. The family home slowly turns into a prison, classes on housework and cooking replace school, and marriages begin to be arranged. The five sisters, driven by the same desire for freedom, fight back against the limits imposed on them.","pubdate":1449848295,"tags":"drama, trailer","image":"https://cdn.jwplayer.com/thumbs/mFJOL68I-320.jpg","title":"Mustang","feedid":"Xw0oaD4q","custom":{},"sources":[{"width":1280,"type":"application/vnd.apple.mpegurl","file":"https://cdn.jwplayer.com/manifests/mFJOL68I.m3u8","height":720},{"width":320,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/mFJOL68I-AgylS15n.mp4","height":180},{"width":480,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/mFJOL68I-8LSW5F2t.mp4","height":270},{"width":720,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/mFJOL68I-PA9rXzRh.mp4","height":406},{"width":1280,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/mFJOL68I-p3ZNjGCa.mp4","height":720},{"type":"audio/mp4","file":"https://cdn.jwplayer.com/videos/mFJOL68I-pSu3VlhO.m4a"}],"tracks":[{"kind":"thumbnail","file":"https://cdn.jwplayer.com/strips/mFJOL68I-120.vtt"}],"link":"https://cdn.jwplayer.com/previews/mFJOL68I","recommendations":"//cdn.jwplayer.com/feed.json?feed_id=Xw0oaD4q&related_media_id=mFJOL68I","duration":120},{"mediaid":"FV4n0UaB","description":"Will Smith stars in Concussion, a dramatic thriller based on the incredible true David vs. Goliath story of American immigrant Dr. Bennet Omalu, the brilliant forensic neuropathologist who made the first discovery of CTE, a football-related brain trauma, in a pro player and fought for the truth to be known. Omalu’s emotional quest puts him at dangerous odds with one of the most powerful institutions in the world.","pubdate":1449848295,"tags":"drama, thriller, trailer","image":"https://cdn.jwplayer.com/thumbs/FV4n0UaB-320.jpg","title":"Concussion","feedid":"Xw0oaD4q","custom":{},"sources":[{"width":1280,"type":"application/vnd.apple.mpegurl","file":"https://cdn.jwplayer.com/manifests/FV4n0UaB.m3u8","height":720},{"width":320,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/FV4n0UaB-AgylS15n.mp4","height":180},{"width":480,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/FV4n0UaB-8LSW5F2t.mp4","height":270},{"width":720,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/FV4n0UaB-PA9rXzRh.mp4","height":406},{"width":1280,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/FV4n0UaB-p3ZNjGCa.mp4","height":720},{"type":"audio/mp4","file":"https://cdn.jwplayer.com/videos/FV4n0UaB-pSu3VlhO.m4a"}],"tracks":[{"kind":"thumbnail","file":"https://cdn.jwplayer.com/strips/FV4n0UaB-120.vtt"}],"link":"https://cdn.jwplayer.com/previews/FV4n0UaB","recommendations":"//cdn.jwplayer.com/feed.json?feed_id=Xw0oaD4q&related_media_id=FV4n0UaB","duration":148},{"mediaid":"127Vi5Xd","description":"In an adaptation of Patricia Highsmith’s seminal novel The Price of Salt, CAROL follows two women from very different backgrounds who find themselves in an unexpected love affair in 1950s New York. As conventional norms of the time challenge their undeniable attraction, an honest story emerges to reveal the resilience of the heart in the face of change.","pubdate":1449848295,"tags":"drama, romance, trailer","image":"https://cdn.jwplayer.com/thumbs/127Vi5Xd-320.jpg","title":"Carol","feedid":"Xw0oaD4q","custom":{},"sources":[{"width":1280,"type":"application/vnd.apple.mpegurl","file":"https://cdn.jwplayer.com/manifests/127Vi5Xd.m3u8","height":720},{"width":320,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/127Vi5Xd-AgylS15n.mp4","height":180},{"width":480,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/127Vi5Xd-8LSW5F2t.mp4","height":270},{"width":720,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/127Vi5Xd-PA9rXzRh.mp4","height":406},{"width":1280,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/127Vi5Xd-p3ZNjGCa.mp4","height":720},{"type":"audio/mp4","file":"https://cdn.jwplayer.com/videos/127Vi5Xd-pSu3VlhO.m4a"}],"tracks":[{"kind":"thumbnail","file":"https://cdn.jwplayer.com/strips/127Vi5Xd-120.vtt"}],"link":"https://cdn.jwplayer.com/previews/127Vi5Xd","recommendations":"//cdn.jwplayer.com/feed.json?feed_id=Xw0oaD4q&related_media_id=127Vi5Xd","duration":90},{"mediaid":"kiq5jnfX","description":"With automatic access to genius, Noma: My Perfect Storm is a creative journey into the unique mind of René Redzepi. How did Redzepi manage to revolutionize the entire world of gastronomy, inventing the alphabet and vocabulary that would infuse newfound pedigree to Nordic cuisine and establish a new edible world while radically changing the image of the modern chef?","pubdate":1449848295,"tags":"documentary, trailer","image":"https://cdn.jwplayer.com/thumbs/kiq5jnfX-320.jpg","title":"Noma","feedid":"Xw0oaD4q","custom":{},"sources":[{"width":1280,"type":"application/vnd.apple.mpegurl","file":"https://cdn.jwplayer.com/manifests/kiq5jnfX.m3u8","height":720},{"width":320,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/kiq5jnfX-AgylS15n.mp4","height":180},{"width":480,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/kiq5jnfX-8LSW5F2t.mp4","height":270},{"width":720,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/kiq5jnfX-PA9rXzRh.mp4","height":406},{"width":1280,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/kiq5jnfX-p3ZNjGCa.mp4","height":720},{"type":"audio/mp4","file":"https://cdn.jwplayer.com/videos/kiq5jnfX-pSu3VlhO.m4a"}],"tracks":[{"kind":"thumbnail","file":"https://cdn.jwplayer.com/strips/kiq5jnfX-120.vtt"}],"link":"https://cdn.jwplayer.com/previews/kiq5jnfX","recommendations":"//cdn.jwplayer.com/feed.json?feed_id=Xw0oaD4q&related_media_id=kiq5jnfX","duration":122},{"mediaid":"rfmZrDyS","description":"Four friends stumble into a deal too good to refuse. But when the investment goes bad, they learn that part of their funding came from a notoriously ruthless crime boss… and it’s payback time. Now, they must successfully kidnap a family member of a rival kingpin in order to erase the life-threatening debt. In way over their heads, if they can complete the assigned task without screwing up, they just might escape with their lives.","pubdate":1449848295,"tags":"thriller, trailer","image":"https://cdn.jwplayer.com/thumbs/rfmZrDyS-320.jpg","title":"Criminal Activities","feedid":"Xw0oaD4q","custom":{},"sources":[{"width":1280,"type":"application/vnd.apple.mpegurl","file":"https://cdn.jwplayer.com/manifests/rfmZrDyS.m3u8","height":720},{"width":320,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/rfmZrDyS-AgylS15n.mp4","height":180},{"width":480,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/rfmZrDyS-8LSW5F2t.mp4","height":270},{"width":720,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/rfmZrDyS-PA9rXzRh.mp4","height":406},{"width":1280,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/rfmZrDyS-p3ZNjGCa.mp4","height":720},{"type":"audio/mp4","file":"https://cdn.jwplayer.com/videos/rfmZrDyS-pSu3VlhO.m4a"}],"tracks":[{"kind":"thumbnail","file":"https://cdn.jwplayer.com/strips/rfmZrDyS-120.vtt"}],"link":"https://cdn.jwplayer.com/previews/rfmZrDyS","recommendations":"//cdn.jwplayer.com/feed.json?feed_id=Xw0oaD4q&related_media_id=rfmZrDyS","duration":125},{"mediaid":"co3rxpv9","description":"“The Nice Guys” takes place in 1970s Los Angeles, when down-on-his-luck private eye Holland March (Gosling) and hired enforcer Jackson Healy (Crowe) must work together to solve the case of a missing girl and the seemingly unrelated death of a porn star. During their investigation, they uncover a shocking conspiracy that reaches up to the highest circles of power.","pubdate":1449848296,"tags":"action and adventure and fun, comedy, trailer","image":"https://cdn.jwplayer.com/thumbs/co3rxpv9-320.jpg","title":"The Nice Guys","feedid":"Xw0oaD4q","custom":{},"sources":[{"width":1280,"type":"application/vnd.apple.mpegurl","file":"https://cdn.jwplayer.com/manifests/co3rxpv9.m3u8","height":720},{"width":320,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/co3rxpv9-AgylS15n.mp4","height":180},{"width":480,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/co3rxpv9-8LSW5F2t.mp4","height":270},{"width":720,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/co3rxpv9-PA9rXzRh.mp4","height":406},{"width":1280,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/co3rxpv9-p3ZNjGCa.mp4","height":720},{"type":"audio/mp4","file":"https://cdn.jwplayer.com/videos/co3rxpv9-pSu3VlhO.m4a"}],"tracks":[{"kind":"thumbnail","file":"https://cdn.jwplayer.com/strips/co3rxpv9-120.vtt"}],"link":"https://cdn.jwplayer.com/previews/co3rxpv9","recommendations":"//cdn.jwplayer.com/feed.json?feed_id=Xw0oaD4q&related_media_id=co3rxpv9","duration":153},{"mediaid":"wVwRwdZR","description":"Four small-town losers stumble across an alien crash site containing an incredible battle suit. One round of bickering and a quick scuffle later, they each find themselves wearing a piece of the suit, which has genetically bound itself to them. Now, they must work together as one to save humanity.","pubdate":1449848295,"tags":"action and adventure and fun, science fiction, comedy, trailer","image":"https://cdn.jwplayer.com/thumbs/wVwRwdZR-320.jpg","title":"Lazer Team","feedid":"Xw0oaD4q","custom":{},"sources":[{"width":1280,"type":"application/vnd.apple.mpegurl","file":"https://cdn.jwplayer.com/manifests/wVwRwdZR.m3u8","height":720},{"width":320,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/wVwRwdZR-AgylS15n.mp4","height":180},{"width":480,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/wVwRwdZR-8LSW5F2t.mp4","height":270},{"width":720,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/wVwRwdZR-PA9rXzRh.mp4","height":406},{"width":1280,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/wVwRwdZR-p3ZNjGCa.mp4","height":720},{"type":"audio/mp4","file":"https://cdn.jwplayer.com/videos/wVwRwdZR-pSu3VlhO.m4a"}],"tracks":[{"kind":"thumbnail","file":"https://cdn.jwplayer.com/strips/wVwRwdZR-120.vtt"}],"link":"https://cdn.jwplayer.com/previews/wVwRwdZR","recommendations":"//cdn.jwplayer.com/feed.json?feed_id=Xw0oaD4q&related_media_id=wVwRwdZR","duration":149},{"mediaid":"4yN3Zspm","description":"For their fifth fully-animated feature-film collaboration, Illumination Entertainment and Universal Pictures present The Secret Life of Pets, a comedy about the lives our pets lead after we leave for work or school each day.","pubdate":1449848296,"tags":"comedy, trailer","image":"https://cdn.jwplayer.com/thumbs/4yN3Zspm-320.jpg","title":"The Secret Life of Pets","feedid":"Xw0oaD4q","custom":{},"sources":[{"width":1280,"type":"application/vnd.apple.mpegurl","file":"https://cdn.jwplayer.com/manifests/4yN3Zspm.m3u8","height":720},{"width":320,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/4yN3Zspm-AgylS15n.mp4","height":180},{"width":480,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/4yN3Zspm-8LSW5F2t.mp4","height":270},{"width":720,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/4yN3Zspm-PA9rXzRh.mp4","height":406},{"width":1280,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/4yN3Zspm-p3ZNjGCa.mp4","height":720},{"type":"audio/mp4","file":"https://cdn.jwplayer.com/videos/4yN3Zspm-pSu3VlhO.m4a"}],"tracks":[{"kind":"thumbnail","file":"https://cdn.jwplayer.com/strips/4yN3Zspm-120.vtt"}],"link":"https://cdn.jwplayer.com/previews/4yN3Zspm","recommendations":"//cdn.jwplayer.com/feed.json?feed_id=Xw0oaD4q&related_media_id=4yN3Zspm","duration":97},{"mediaid":"easrc7er","description":"After the earth-shattering revelations of INSURGENT, Tris must escape with Four and go beyond the wall enclosing Chicago. For the first time ever, they will leave the only city and family they have ever known in order to find a peaceful solution for their embroiled city. Once outside, old discoveries are quickly rendered meaningless with the revelation of shocking new truths.","pubdate":1449848295,"tags":"fantasy, action and adventure and fun","image":"https://cdn.jwplayer.com/thumbs/easrc7er-320.jpg","title":"The Divergent Series: Allegiant","feedid":"Xw0oaD4q","custom":{},"sources":[{"width":1280,"type":"application/vnd.apple.mpegurl","file":"https://cdn.jwplayer.com/manifests/easrc7er.m3u8","height":720},{"width":320,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/easrc7er-AgylS15n.mp4","height":180},{"width":480,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/easrc7er-8LSW5F2t.mp4","height":270},{"width":720,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/easrc7er-PA9rXzRh.mp4","height":406},{"width":1280,"type":"video/mp4","file":"https://cdn.jwplayer.com/videos/easrc7er-p3ZNjGCa.mp4","height":720},{"type":"audio/mp4","file":"https://cdn.jwplayer.com/videos/easrc7er-pSu3VlhO.m4a"}],"tracks":[{"kind":"thumbnail","file":"https://cdn.jwplayer.com/strips/easrc7er-120.vtt"}],"link":"https://cdn.jwplayer.com/previews/easrc7er","recommendations":"//cdn.jwplayer.com/feed.json?feed_id=Xw0oaD4q&related_media_id=easrc7er","duration":134}],"feedid":"Xw0oaD4q"}},"403":{"$ref":"#/responses/403"},"404":{"$ref":"#/responses/404"}}}}},"parameters":{"mediaIdParam":{"name":"media_id","in":"path","description":"An 8 character code (ex: RltV8MtT) that uniquely identifies the media asset. This can be found on the video detail page in the dashboard.\n","required":true,"type":"string"},"playlistIdParam":{"name":"playlist_id","in":"path","description":"An 8 character code (ex: WXu7kuaW) that uniquely identifies the playlist. You can find it in the playlist details page in the dashboard.\n","required":true,"type":"string"},"formatParam":{"name":"format","in":"query","description":"Used to specify the output template format, `json` (the default behavior) is natively consumable by JW Player and provides an easy format for integrations on your site. `mrss` alignes with the Media RSS specification for easy syndication. `legacyrss` provides backwards compatibility for an older rss format previously served by JW Platform.\n","type":"string","enum":["json","mrss","legacyrss"]},"sourcesParam":{"name":"sources","in":"query","description":"Used to specify the media sources included in the feed. These are comma separated in the order in which they should appear. One can specify sources by adaptive streaming formats (`dash`, `hls`), quality levels (ex: `1080p`, `720p`, `1920px`), or legacy template IDs. Note that mixing the way the sources are specified may have unexpected results.\n","type":"array","items":{"type":"string"},"collectionFormat":"csv"},"posterWidthParam":{"name":"poster_width","in":"query","description":"Used to specify the width of poster images to include with the feed. By default the feed will include 720 pixel wide images which is a good balance between quality and page speed for most playlist thumbnail applications.","type":"integer","enum":[40,120,320,480,720,1280,1920]},"recommendationsPlaylistIdParam":{"name":"recommendations_playlist_id","in":"query","description":"An 8 character code (ex: 9ke9KW4b) that uniquely identifies the similar type playlist to use when including related videos. If no recommendations_playlist_id is included, the feed will use the default recommendations playlist for the property.\n","required":false,"type":"string"},"tokenParam":{"name":"token","in":"query","description":"The token parameter is used to sign requests to the Content API for protected content. It consists of a JSON Web Token (JWT) containing the parameters of the request. More information is available in the [developer guide](https://developer.jwplayer.com/jw-platform/docs/developer-guide/delivery-api/url-token-signing/). \n","required":false,"type":"string"},"relatedMediaIdParam":{"name":"related_media_id","in":"query","description":"**(Required for similar type playlists)** An 8 character code that uniquely identifies a video for which to find related content. You can find them on the video details page of the dashboard as Media IDs.\n","type":"string","required":true},"searchParam":{"name":"search","in":"query","description":"**(Required for search type playlists)** A url encoded search phrase. The phrase may include single words, multiple words separated by spaces (%20), and phrases contained by double quotes (“)\n","type":"string","required":true},"pageLimitParam":{"name":"page_limit","in":"query","description":"Used to specify the maximum number of items to return in a feed.","type":"integer","maximum":100},"pageOffsetParam":{"name":"page_offset","in":"query","description":"Used to specify the number of items to offset for paginated requests.","type":"integer"}},"responses":{"403":{"description":"Forbidden. This is most commonly caused because the asset requires [URL token signing](https://developer.jwplayer.com/jw-platform/docs/developer-guide/delivery-api/url-token-signing/) and was requested without a token or with an incorrect or expired token. It could also be due to geographic restriction, or account suspension, deletion, or limits reached. \n"},"404":{"description":"Not Found. The asset requested could not be found."}}}