swagger: '2.0'
info:
  version: "v1.0"
  title: Ads APIv2
  description: Ads APIv2 definition
host: api.jwplayer.com
basePath: /v2
schemes:
  - https

# format of bodies a client can send (Content-Type)
consumes:
  - application/vnd.api+json
# format of the responses to the client (Accepts)
produces:
  - application/vnd.api+json

################################################################################
#                                  Security                                    #
################################################################################
securityDefinitions:
  jwplayer:
    type: apiKey
    name: authorization
    in: header

################################################################################
#                                           Paths                              #
################################################################################
paths:
  /sites/{site_id}/advertising/schedules/:
    post:
      tags:
        - advertising
      description: Creates a new advertising schedule
      produces:
        - application/vnd.api+json
      security:
       - jwplayer: []
      parameters:
        - $ref: '#/parameters/site_id'
        - name: adschedule
          in: body
          description: A resource object describing an ad schedule.
          schema:
            $ref: '#/definitions/ad_schedule_post_patch_body'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/ad_schedule_resource'
        '400':
          $ref: '#/responses/400'
    get:
      tags:
        - advertising
      description: Fetches a list of advertising schedules
      produces:
        - application/vnd.api+json
      security:
       - jwplayer: []
      parameters:
        - $ref: '#/parameters/site_id'
        - $ref: '#/parameters/page_length'
        - $ref: '#/parameters/page'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ad_schedule_collection_success'

  /sites/{site_id}/advertising/schedules/{ad_schedule_id}:
    get:
      tags:
        - advertising
      description: Retrieves an advertising schedule
      produces:
        - application/vnd.api+json
      security:
       - jwplayer: []
      parameters:
        - $ref: '#/parameters/site_id'
        - $ref: '#/parameters/ad_schedule_id'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ad_schedule_resource'
        '403':
          $ref: '#/responses/403'
        '404':
          $ref: '#/responses/404'
    patch:
      tags:
        - advertising
      description: Patches an advertising schedule
      produces:
        - application/vnd.api+json
      security:
       - jwplayer: []
      parameters:
        - $ref: '#/parameters/site_id'
        - $ref: '#/parameters/ad_schedule_id'
        - name: adschedule
          in: body
          description: An ad schedule update
          schema:
            $ref: '#/definitions/ad_schedule_post_patch_body'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ad_schedule_resource'
        '400':
          $ref: '#/responses/400'
        '403':
          $ref: '#/responses/403'
        '404':
          $ref: '#/responses/404'
    delete:
      tags:
        - advertising
      description: Deletes an advertising schedule
      produces:
        - application/vnd.api+json
      security:
       - jwplayer: []
      parameters:
        - $ref: '#/parameters/site_id'
        - $ref: '#/parameters/ad_schedule_id'
      responses:
        '200':
          description: OK
        '403':
          $ref: '#/responses/403'
        '404':
          $ref: '#/responses/404'


################################################################################
#                                 Parameters                                   #
################################################################################
parameters:
  site_id:
    name: site_id
    in: path
    description: The unique 8 character identifier for the site.
    type: string
    required: true
  page_length:
    name: page_length
    in: query
    description: This parameter specifies the page size to return. Default behavior is 10 items.
    type: integer
    maximum: 1000
  page:
    name: page
    in: query
    description: This parameter specifies the offset for the page to return. 
    type: integer
  ad_schedule_id:
    name: ad_schedule_id
    in: path
    description: The unique 8 character identifier for the ad schedule.
    required: true
    type: string
  ad_schedule_extension:
    name: ad_schedule_extension
    in: path
    description: |
      Specifies the format to deliver the ad schedule in
    required: true
    type: string
    enum:
      - json


################################################################################
#                                  Responses                                   #
################################################################################

responses:
  "400":
    description: Bad Request
    schema:
      $ref: '#/definitions/error_response'
    headers:
      X-Rate-Limit-Limit:
        description: The number of allowed requests in the current period
        type: integer
      X-Rate-Limit-Remaining:
        description: The number of remaining requests in the current period
        type: integer
      X-Rate-Limit-Reset:
        description: The number of seconds left in the current period
        type: integer
    examples:
      application/vnd.api+json:
        error:
          code: 400
          description: Bad request
  "401":
    description: Unauthorized
    schema:
      $ref: '#/definitions/error_response'
    headers:
      X-Rate-Limit-Limit:
        description: The number of allowed requests in the current period
        type: integer
      X-Rate-Limit-Remaining:
        description: The number of remaining requests in the current period
        type: integer
      X-Rate-Limit-Reset:
        description: The number of seconds left in the current period
        type: integer
    examples:
      application/vnd.api+json:
        error:
          code: 401
          description: Unauthorized, try again with a valid authorization header
  "403":
    description: Forbidden
    schema:
      $ref: '#/definitions/error_response'
    headers:
      X-Rate-Limit-Limit:
        description: The number of allowed requests in the current period
        type: integer
      X-Rate-Limit-Remaining:
        description: The number of remaining requests in the current period
        type: integer
      X-Rate-Limit-Reset:
        description: The number of seconds left in the current period
        type: integer
    examples:
      application/vnd.api+json:
        error:
          code: 403
          description: Forbidden, this API token is not authorized to make this call


  "404":
    description: Not Found
    schema:
      $ref: '#/definitions/error_response'
    headers:
      X-Rate-Limit-Limit:
        description: The number of allowed requests in the current period
        type: integer
      X-Rate-Limit-Remaining:
        description: The number of remaining requests in the current period
        type: integer
      X-Rate-Limit-Reset:
        description: The number of seconds left in the current period
        type: integer
    examples:
      application/vnd.api+json:
        error:
          code: 404
          description: Not Found, this resource was not found
  "500":
    description: Internal Server Error
    schema:
      $ref: '#/definitions/error_response'
    headers:
      X-Rate-Limit-Limit:
        description: The number of allowed requests in the current period
        type: integer
      X-Rate-Limit-Remaining:
        description: The number of remaining requests in the current period
        type: integer
      X-Rate-Limit-Reset:
        description: The number of seconds left in the current period
        type: integer
    examples:
      application/vnd.api+json:
        error:
          code: 500
          description: Internal Server Error, an error occurred, retry this request at a later time
  "502":
    description: Bad Gateway
    schema:
      $ref: '#/definitions/error_response'
    headers:
      X-Rate-Limit-Limit:
        description: The number of allowed requests in the current period
        type: integer
      X-Rate-Limit-Remaining:
        description: The number of remaining requests in the current period
        type: integer
      X-Rate-Limit-Reset:
        description: The number of seconds left in the current period
        type: integer
    examples:
      application/vnd.api+json:
        error:
          code: 502
          description: Bad Gateway, an error occurred, retry this request at a later time
  "503":
    description: Service Unavailable
    schema:
      $ref: '#/definitions/error_response'
    headers:
      X-Rate-Limit-Limit:
        description: The number of allowed requests in the current period
        type: integer
      X-Rate-Limit-Remaining:
        description: The number of remaining requests in the current period
        type: integer
      X-Rate-Limit-Reset:
        description: The number of seconds left in the current period
        type: integer
    examples:
      application/vnd.api+json:
        error:
          code: 503
          description: Service Unavailable, an error occurred, retry this request at a later time
  "504":
    description: Gateway Timeout
    schema:
      $ref: '#/definitions/error_response'
    headers:
      X-Rate-Limit-Limit:
        description: The number of allowed requests in the current period
        type: integer
      X-Rate-Limit-Remaining:
        description: The number of remaining requests in the current period
        type: integer
      X-Rate-Limit-Reset:
        description: The number of seconds left in the current period
        type: integer
    examples:
      application/vnd.api+json:
        error:
          code: 504
          description: Gateway Timeout, an error occurred, retry this request at a later time
################################################################################
#                                 Definitions                                  #
################################################################################
definitions:

  error_response:
    type: object
    properties:
      error:
        type: object
        properties:
          code:
            type: string
          description:
            type: string

  ad_schedule_collection_success:
    type: object
    properties:
      schedules:
        type: array
        items:
          $ref: '#/definitions/ad_schedule_resource'
      page:
        type: integer
        example: 1
      page_length:
        type: integer
        example: 10
      total:
        type: integer
        example: 4

  ad_schedule_resource:
    type: object
    properties:
      id:
        type: string
        example: 'aBcdEf12'
      type:
        type: string
        example: 'adschedule'
      schema:
        type: string
        example: 'https://schema.jwplayer.com/types/adschedule.json'
      created:
        type: string
        example: '2017-05-22T15:02:18-4:00'
      last_modified:
        type: string
        example: '2017-05-22T15:02:18-4:00'
      metadata:
        $ref: '#/definitions/ad_schedule_metadata'


  ad_schedule_post_patch_body:
    type: object
    properties:
      metadata:
        $ref: '#/definitions/ad_schedule_post_patch_metadata'


  ad_schedule_post_patch_metadata:
    type: object
    required:
      - breaks
      - name
    properties:
      name:
        type: string
        example: 'Example Ad Schedule'
      breaks:
        type: array
        items:
          type: object
          required:
            - tags
            - offset
          properties:
            tags:
              type: array
              items:
                type: string
                example: 'http://doubleclick.com/tag1.xml'
            offset:
              type: string
              example: 00:03:00.123
            skipoffset:
              type: integer
              example: 5
            type:
              type: string
              example: 'linear'
      client:
        type: string
        enum:
          - vast
          - googima
      is_vmap:
        type: boolean
        example: false
      vpaidmode:
        type: string
        example: 'secure'
        
                    
  ad_schedule_metadata:
    type: object
    required:
      - breaks
      - name
    properties:
      name:
        type: string
        example: 'Example Ad Schedule'
      breaks:
        type: array
        items:
          type: object
          required:
            - tags
            - offset
          properties:
            tags:
              type: array
              items:
                type: string
                example: 'http://doubleclick.com/tag1.xml'
            offset:
              type: string
              example: 00:03:00.123
            skipoffset:
              type: integer
              example: 5
            type:
              type: string
              example: 'linear'
      client:
        type: string
        enum:
          - vast
          - googima
      is_vmap:
        type: boolean
        example: false
      vpaidmode:
        type: string
        example: 'secure'
      version:
        type: string
        example: '1.0'
